{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">   
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>   
    </head>
    <body>
        <nav class=" shadow-lg  rounded-2xl ml-20 mr-20 ">
            <div class="px-4 mx-auto mt-1">
                <div class="flex justify-between">
                <!-- website logo -->
                 <div class="py-1">
                    <a class="flex" href="{% url 'feed' %}">
                        <img class="h-10 w-10 mt-1 " src="{% static 'users/images/logo.png' %}" alt="Logo">
                        <span class="font-bold text-lg text-grey-500 mt-2">Photo App</span>
                    </a>
                 </div>
                 <!-- website-items -->
                    {% if request.user.is_authenticated %}
                    <div class="flex ">
                        <div class="  rounded-md m-3 mr-0 hover:shadow-md">
                           <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'create' %}">➕Post</a>
                        </div>  
                        <div class="   rounded-md  m-3 mr-1 hover:shadow-md">
                            <a class="py-4 px-2 text-grey-500 font-semibold " href="{% url 'edit' %}">Profile</a>
                        </div>
                        <div class="bg-transparent ">
                            <form action="{% url 'logout' %}" method="POST" class="inline">
                                {% csrf_token %}
                                <button type="submit" class="mt-3  px-1 py-0 text-grey-500 font-semibold "> Logout </button>
                            </form>
                        </div>

                    </div>  
                    {% else %}
                    <div class="flex m-2">
                        <div class="  bg-black rounded-2xl  p-1 mr-1 hover:shadow-md">
                            <a class="py-4 px-2 text-white font-semibold " href="{% url 'login' %}">Login</a>
                        </div>  
                        <div class=" bg-black rounded-2xl  p-1 hover:shadow-md">
                            <a class="py-4 px-2 text-white font-semibold " href="{% url 'register' %}">Sign Up</a>
                        </div> 
                    </div>
                        
                    {% endif %}
   
                  
                </div>
            </div>
        </nav>
        
        {% block body %}
        {% endblock %}
    </body>
</html>