{% extends 'users/base.html' %}
{% block body %}
<div class="flex ml-5 mt-4">
    <h2 class="text-center mt-2 mb-2 font-bold text-xl ">🗝️ Change Password</h2>
</div>

<div class=" flex ml-6 mt-4">
<form method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2">Old password:</label>
        <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
            {{form.old_password}}
        </div>
        {% if form.old_password.errors %}
        <p class="text-red-500 text-sm">{{ form.old_password.errors.0 }}</p> <!--( errors.0 [0 is like an index] )Shows just the first message-->
        {% endif %}
    </div>
    <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2">New password:</label>
        <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
            {{form.new_password1}}
        </div>
    </div>
    <div class="mb-2">
        <ul>
            <li class="font-medium text-yellow-500">Your password can’t be too similar to your other personal information.</li>
            <li class="font-medium text-yellow-500">Your password must contain at least 8 characters.</li>
            <li class="font-medium text-yellow-500">Your password can’t be a commonly used password.</li>
            <li class="font-medium text-yellow-500">Your password can’t be entirely numeric.</li>
        </ul>
    </div>
    <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2">Confirm password:</label>
        <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
            {{form.new_password2}}
        </div>
         {% if form.new_password2.errors %}
        <p class="text-red-500 text-sm">{{ form.new_password2.errors.0 }}</p> 
        {% endif %}
    </div>
    <div class="ml-1 flex ">
        <button type="submit" class="bg-blue-600 text-white py-2 px-5 my-5 rounded-md">Confirm</button>
    </div>
    
</form>
</div>
{% endblock %}

